
body{
    display: flex;
    /* justify-content:center; */
    gap:100px;
    margin-left:100px;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:8px;
}


.sketchBox{
    height: 500px;
    width:500px;
    border: 2px solid black;
    display: flex;
    flex-direction:column;
    
}

.boxes{
    display:flex;
    flex-grow:1;
}

.box{
    width: 10px;
    flex-grow: 1;
}